/* Colors for App - need to order these from lighter to darker
  oranges
  rgb(223,148,148)
  rgb(231,139,139)
  rgb(182,97,97)
  rgb(226,136,136)
  rgb(205,122,122)
  rgb(190,131,131)
  rgb(223,148,85)
  rgb(189,129,105)

  greens
  rgb(126,118,118)
  rgb(121,133,133)
  rgb(130,140,140)
  rgb(151,156,156)
  rgb(118,125,125)
  rgb(121,125,103)
  rgb(101,98,98)
  rgb(113,136,136)
  rgb(166,185,185)
  
  browns
  rgb(152,95,95)
  rgb(150,93,93)
  rgb(144,91,91)
  rgb(145,88,88)
  rgb(152,97,97)
  rgb(156,99,99)
  rgb(154,96,96)

*/

body {
  background-color: rgb(154,96,96);
}

button:focus {
  outline: none !important;
  background-color: rgb(126,118,118);
}

.card {
  background-color: rgb(166,185,185);
  width: 450px;
  margin: 20% auto;
  border-radius: 3px;
}

.quote {
  color: rgb(205,122,122);
  font-size: 20px;
  text-align: center;
  padding: 10vh 2vh 0vh 2vh;
}
 
.author {
  color: rgb(121,133,133);
  text-align: right;
  padding: 2vh;
}

.button {
  color: rgb(205,122,122);
  background-color: rgb(154,96,96);
  border-radius: 3px;
  font-size: 2vh;
  text-align: right;
  padding: 2vh;
  margin: 5vh;
  border-color: rgb(119,93,93);
  border-width: 1px;
}

.getquote {
  float: right;
}