/* Colors for App - need to order these from lighter to darker
  oranges
  rgb(223,148,148)
  rgb(231,139,139)
  rgb(182,97,97)
  rgb(226,136,136)
  rgb(205,122,122)
  rgb(190,131,131)
  rgb(223,148,85)
  rgb(189,129,105)

  greens
  rgb(126,118,118)
  rgb(121,133,133)
  rgb(130,140,140)
  rgb(151,156,156)
  rgb(118,125,125)
  rgb(121,125,103)
  rgb(101,98,98)
  rgb(113,136,136)
  rgb(166,185,185)
  
  browns
  rgb(152,95,95)
  rgb(150,93,93)
  rgb(144,91,91)
  rgb(145,88,88)
  rgb(152,97,97)
  rgb(156,99,99)
  rgb(154,96,96)

*/

button:focus {
  outline: none !important;
  background-color: rgb(101,98,98);
}

.card {
  background-color: rgb(216,235,235);
  width: 450px;
  margin: 20% auto;
  border-radius: 3px;
}

.quote {
  font-size: 20px;
  text-align: center;
  padding: 3vw 3vw 0vw 3vw;
}

.author {
  color: rgb(101,113,113);
  font-size: 16px;
  text-align: right;
  padding: 2vw;
}

.button {
  border-radius: 3px;
  font-size: 3vh;
  text-align: right;
  padding: 2vh;
  margin: 5vh;
  border-color: rgb(119,93,93);
  border-width: 1px;
}

.social {
  text-align: center;
  width: 7vh;
  margin-right: 3vh;
}

body {
  background-color: rgb(154,96,96);
}

.getquote {
  float: right;
}

/* +++++++++++++++++ color scheme 1 ++++++++++++++++++++ */
.elem-clr1 {
  background-color: rgb(154,96,96);
  transition: background-color .4s ease-in-out;
  fill: red;
}

.txt-clr1 {
  color: rgb(220,137,137);
  transition: color .45s ease-in-out;
}

/* +++++++++++++++++ color scheme 2 ++++++++++++++++++++ */
.elem-clr2 {
  background-color: rgb(223,148,85);
  transition: background-color .4s ease-in-out;
  fill: red;
}

.txt-clr2 {
  color: rgb(121,125,103);
  transition: color .45s ease-in-out;
}

/* +++++++++++++++++ color scheme 3 ++++++++++++++++++++ */
.elem-clr3 {
  background-color: rgb(126,185,185);
  transition: background-color .4s ease-in-out;
  fill: red;
}

.txt-clr3 {
  color: rgb(113,136,136);
  transition: color .45s ease-in-out;
}

/* +++++++++++++++++ color scheme 4 ++++++++++++++++++++ */
.elem-clr4 {
  background-color: rgb(68,116,116);
  transition: background-color .4s ease-in-out;
}

.txt-clr4 {
  color: rgb(189,129,105);
  transition: color .45s ease-in-out;
}